<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB3ZA2FoBp3Oqn5ID66zTA-CQqbtL0gwM</string>
	<key>GCM_SENDER_ID</key>
	<string>923729353109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMobileHorosope</string>
	<key>PROJECT_ID</key>
	<string>horoscope-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>horoscope-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923729353109:ios:8b31d9c9b6afb9f53dfe9c</string>
</dict>
</plist>